/* HEADER */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 8px 8px 8px 30px;
  background-color: var(--main-color);
  border-radius: 5px;
  border: 3px solid var(--dark-purple);
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 200px;
}

.logo .material-icons {
  color: #fff;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons .material-icons {
  width: 35px;
  height: 35px;
  border: 3px solid var(--dark-purple);
  border-radius: 5px;
  text-align: center;
  padding-top: 4px;
  color: var(--dark-purple);
  background-color: #fff;
}

.icons:hover {
  cursor: default;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: var(--main-color);
  border-radius: 5px;
  border: 3px solid var(--dark-purple);
  padding-left: 10px;
}

footer .buttons {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 10px;
}

footer .buttons .material-icons {
  width: 45px;
  height: 45px;
  font-size: 42px;
  color: var(--dark-purple);
}

footer .buttons .material-icons:hover {
  cursor: pointer;
}
