body {
  overflow: hidden;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 8px 8px 8px 30px;
  background-color: var(--main-color);
  border-radius: 5px;
  border: 3px solid var(--dark-purple);
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 200px;
}

.logo .material-icons {
  color: #fff;
}

header .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .icons .material-icons {
  width: 35px;
  height: 35px;
  border: 3px solid var(--dark-purple);
  border-radius: 5px;
  text-align: center;
  padding-top: 4px;
  color: var(--dark-purple);
  background-color: #fff;
}

header .icons:hover {
  cursor: default;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: var(--main-color);
  border-radius: 5px;
  border: 3px solid var(--dark-purple);
  padding-left: 10px;
}

footer .buttons {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 10px;
}

footer .buttons .material-icons {
  width: 45px;
  height: 45px;
  font-size: 42px;
  color: var(--dark-purple);
}

/* SECTION COMMON */
section {
  width: 100%;
  height: 100vh;
  background-image: url("../Images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 60px;
}

.window {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 5px;
  border: 3px solid var(--dark-purple);
}

.window .tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 50px;
  padding: 8px 8px 8px 20px;
}

.window .tab .title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Press Start 2P", system-ui;
  font-size: 18px;
  color: #fff;
}

.window .contents {
  overflow: auto;
  background-color: #fff;
  flex-grow: 1;
}

.window .bottom {
  bottom: 0px;
  width: 100%;
  min-height: 50px;
  background-color: var(--main-color);
}

.clickable .material-icons:hover {
  cursor: pointer;
}

/* SECTION - ALL */
#all {
}

/* SECTION - MONTH */
#month {
}

/* SECTION - WEEK */
#week {
}

/* SECTION - TODO */
#todo {
  display: grid;
  grid-template: 3fr 1fr 3fr / 5fr 2fr;
  grid-template-areas:
    "todo controls"
    "todo ."
    "timeTable timeTable";
  gap: 40px;
}

#todo > .window.todo {
  margin: 40px 20px 0 40px;
  grid-area: todo;
}

#todo .todo .contents .tasks {
  padding: 10px 20px;
}

#todo .todo .contents .task {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 50px;
}

#todo .todo .contents .task.done .description {
  color: var(--light-gray);
  text-decoration: line-through;
}

#todo .todo .contents .task input {
  display: none;
}

#todo .todo .contents .task input + label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 4px solid var(--main-color);
  border-radius: 4px;
  vertical-align: middle;
}

#todo .todo .contents .task input:checked + label:before {
  content: "";
  background-color: var(--main-color);
  border-color: var(--main-color);
  background-image: url("/Images/check.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

#todo .todo .contents .task .time {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 10px;
  color: var(--gray);
}

#todo .todo .contents .task .description {
  font-size: 1.5rem;
  flex: 1 0 500px;
}

#todo .todo .contents .task .icons {
  display: flex;
  gap: 10px;
  height: 24px;
  color: var(--main-color);
}

#todo .window.controls {
  background-color: var(--pink);
  border-color: var(--dark-pink);
  margin: 80px 40px 20px 0;
  grid-area: controls;
}

#todo .controls .contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#todo .controls .contents div {
  width: 48px;
  height: 48px;
  font-size: 48px;
  color: var(--pink);
}

#todo .window.timeTable {
  margin: 10px 60px 40px 100px;
  grid-area: timeTable;
}
